[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/test.py > /home/pi/test.log 2>&1
Restart=on-failure 
RestartSec=5

[Install]
WantedBy=multi-user.target
